@model Judge.Models.IndexViewModel
@{
    ViewBag.Title = "Change your account settings";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<h2>@ViewBag.Title.</h2>


<div class="container">
    <div class="row">
        <div class=" col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                    <img class="img-circle img-responsive" src="http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-ginger-guy.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="centered-text col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                    <div itemscope="" itemtype="http://schema.org/Person">
                                        <hr/>
                                        <b> Password: </b>
                                        [
                                        @if (Model.HasPassword)
                                        {
                                            @Html.ActionLink("Change your password", "ChangePassword")
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Create", "SetPassword")
                                        }
                                        ]
                                        <br/>
                                        <b>External Logins:</b>
                                        
                                        @Model.Logins.Count [
                                        @Html.ActionLink("Manage", "ManageLogins") ]
                                        <hr/>
                                        <button type="button" class="btn btn-success">@Html.ActionLink("Solve", "../Problem/Index",null, new { @class = "my-class" })</button>
                                       
                                        
                                        

                                        <button type="button" class="btn btn-success" style="float: right">@Html.ActionLink("Submissions", "../Submission/All",null, new { @class = "my-class" })</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>