@model Judge.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Set Password";
}

<body>

    <div class="set-pass-message">
        <p>
            You do not have a local username/password for this site. Add a local
            account so you can log in without an external login.
        </p>
    </div>

    <div class="center-page-signup">
        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })


            @* @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-11" })

                <div class="col-xs-11">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                </div>


                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-11 space-vert" })

                <div class="col-xs-11">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                </div>

                <div class="col-xs-11 space-vert-button">

                    <input type="submit" class="btn btn-success" value="Set Password" />

                </div>*@
        }

    </div>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



