@model IEnumerable<Judge.Models.Submission>

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr/>
<br/>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionProblemId)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionProblemId)
        </td>

    </tr>
}

</table>
