@model Judge.Models.Submission

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="highlighter\styles\atelier-heath-dark.css">
<script src="highlighter\highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


<h2>Create Submission</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">    

            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-lg-2" })
            <div class="col-lg-2"><pre class="prettyprint">class Voila {
                    public:
                        // Voila
                        static const string VOILA = "Voila";

                        // will not interfere with embedded <a href="#voila2">tags</a>.
                    }</pre>
                     @Html.TextAreaFor(model => model.Code,10,100, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        

        <div class="form-group">
            @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <ul>
                    <li> @Html.RadioButtonFor(m => m.Language, "C++","")C++</li>
                    <li> @Html.RadioButtonFor(m => m.Language, "C+11","")C+11</li>
                    <li> @Html.RadioButtonFor(m => m.Language, "C+14","")C+14</li>
                    <li> @Html.RadioButtonFor(m => m.Language, "C","")C</li>
                </ul>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
    


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
