@model Judge.Models.ProblemEntity

@{
    ViewBag.Title = "Details";
}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ffffff">
<h2>
    <center><font face="helvetica" size="6">@Html.DisplayFor(model => model.Name)</font></center>


</h2>
<p><center>Memory Limit Kb: @Model.MemoryLimitKb</center></p>
<p><center>Execution Time Limit: @Model.TymeLimitMs</center></p>
<p><center>Author: @Model.Author</center></p>
<br/>
    <h>
        <button type="button" class="btn btn-success"><a href="@Url.Action("Create", "Submission", new {submissionProblemId = Model.Id})"><font color="white">Submit code</font></a></button>
        <span style="float:right;"><input type="button" class="btn btn-success" value="Submissions" onclick="location.href = 'http:\\www.google.com';"></span>
</h>

<hr/>
<div>
    @Html.LabelFor(model => model.Text)
</div>
<br/>
<li>
@Model.Text
</li>
<br/>
<div class ="container">
    <p><b>Examples</b></p>
    <table class="table table-striped">
        <tr>
            <th>
                <fontinout><font face="Courier New" size="2">input</font></fontinout>
            </th>
        </tr>
        <tr>
            <td>
                <fontinout><font face="Courier New" size="2">@Model.In</font></fontinout>
            </td>
        </tr>
        <tr>
            <th>
                <fontinout><font face="Courier New" size="2">output</font></fontinout>
            </th>
        </tr>
        <tr>
            <td>
                <fontinout><font face="Courier New" size="2">@Model.Out</font></fontinout>
            </td>
        </tr>
    </table>
</div>
<br/>


<span style="float:right">
    Your score : 100
</span>


<p2>
    @Html.ActionLink("Back to List", "Index")
</p2>
</body>