@using Judge.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<body>

    <div class="center-page-login">
        <div class="title-signup-login space-vert-title">@ViewBag.Title</div>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @Html.LabelFor(m => m.Email, new { @class = "col-xs-11" })

            <div class="col-xs-11">
                @Html.TextBoxFor(m => m.Email, new { @class = "col-xs-11 form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>


            @Html.LabelFor(m => m.Password, new { @class = "col-xs-11 space-vert" })

            <div class="col-xs-11">
                @Html.PasswordFor(m => m.Password, new { @class = "col-xs-11 form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>


            <div class="col-xs-11 small-space-vert">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>


            <div class="col-xs-11 space-vert">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>


            <div class="col-xs-11 small-space-vert">
                @Html.ActionLink("Not a member yet? Create your account", "Register")
            </div>

            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }


        <div class="col-xs-11 another-service space-vert-button">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>

    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
